<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>successFindId</title>
</head>
<style layout:fragment="style">
    .wrap{
        justify-content: center;
        text-align: center;
        width: 30%;
        margin: 0 auto;
        min-height: 300px;
        display: flex;
        align-items: center;
    }
    .wrap-inner{
        flex-direction: column;
        gap: 10px;
    }
    .loginBtn{
        border-radius: 5px;
        color: white;
        background-color: #222;
        padding: 5px 20px;
    }
    .loginBtn:hover{
        color: white;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="d-flex align-items-center wrap-inner">
            <h2>회원아이디</h2>
            <p th:if="${memberId == ''}">회원정보를 찾을 수 없습니다.</p>
            <p th:unless="${memberId == ''}" class="memberId">[[${memberId}]]</p>
            <div class="btn-box">
                <a href="/login" class="loginBtn">로그인</a>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    // 아이디 별표처리
    const originalUsername = [[${memberId}]];

    const maskedUsername = maskUsername(originalUsername);
    document.querySelector('.memberId').innerHTML = maskedUsername;

    function maskUsername(username) {
        if (username.includes('@')) {  // 이메일 형식인 경우
            const [prefix, domain] = username.split('@');
            if (prefix.length >= 3) {
                const maskedPrefix = prefix[0] + '*'.repeat(prefix.length - 2) + prefix.slice(-1);
                const maskedEmail = maskedPrefix + '@' + domain;
                return maskedEmail;
            } else {
                return username;  // 잘못된 형식의 이메일은 그대로 반환
            }
        } else {  // 일반 아이디인 경우
            if (username.length >= 3) {
                const maskedUsername = username[0] + '*'.repeat(username.length - 2) + username.slice(-1);
                return maskedUsername;
            } else {
                return username;  // 너무 짧은 아이디는 그대로 반환
            }
        }
    }
</script>
</html>